/* ===== Variables ===== */
$linkColor: rgb(100, 100, 255)
$linkColorHover: rgb(150, 150, 255)
$playBtnWidth: 74px
$playBtnWidthHalf: calc($playBtnWidth/2)
$fontSize: 1.2rem
$backgroundHighlight: rgb(50,50,50)
$sideBarBackgroundColor: rgb(30,30,30)
$listBackgroundColor: rgb(40,40,40);
$buttonBackgroundColor: rgb(80,80,80)

/* ===== Elements ===== */
ul
  padding-left: 0
  list-style-type: none
  max-width: 300px
  display: inline-block
  margin: 5px

li
  font-size: $fontSize
  white-space: wrap
  text-overflow: ellipsis
  margin-bottom: 1.2rem
  cursor: pointer

  &:hover
    text-decoration: underline

button
  background-color: $buttonBackgroundColor

form
  margin: 5px
  display: flex
  flex-direction: column
  border-radius: 10px

/* ===== Classes ===== */
.sidebar-container
  padding: 2rem
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  background-color: $sideBarBackgroundColor
  max-height: 90vh

.list-container
  display: flex
  flex-direction: column
  overflow-y: scroll
  min-width: 100%
  background-color: $listBackgroundColor

.song-item
  display: flex
  flex-flow: column
  justify-content: space-between
  &:hover
    background-color: $backgroundHighlight
  p
    margin: 0px 0px 10px 0px
    color: $linkColor !important
    &:hover
      color: $linkColorHover !important
  .song-artist
    font-size: $fontSize*.7
  .song-title
    font-weight: bold

.track-btns
  display: flex
  flex-direction: row
  gap: 10px
  button
    width: 1/2
    border-radius: 0px !important
    background-color: transparent
    display: flex
    align-content: center
    justify-content: center
    font-size: $fontSize*.5

.track-btn
  &:hover
    background-color: rgb(100,100,100)

.input-line
  display: flex
  flex-flow: row wrap

/* ===== Ids ===== */
#root
  min-height: 100vh
  width: 100%
  display: grid
  grid-template-columns: fit-content(375px) 1fr

#form-change-btn
  margin: 10px
